<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9fyfLjNeQ-SOHs8BgipHnd4wP7ZJVUOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1028242504655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecosnap</string>
	<key>PROJECT_ID</key>
	<string>ecosnapapps</string>
	<key>STORAGE_BUCKET</key>
	<string>ecosnapapps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028242504655:ios:87b33f210765240a9570ba</string>
</dict>
</plist>